.card {
  width: 243px;
  height: 487px;
  perspective: 500px;
  margin-bottom: 50px;
}
.card_name {
  text-align: center;
  margin-top: 67px;
}
.card_name_text {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1.56px;
  text-transform: uppercase;
}

.card_inner {
  width: 100%;
  height: 360px;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.card_inner:hover {
  border-radius: 18%;
  box-shadow: 0px 3px 18px 3px rgba(110, 110, 110, 0.2);
}
.is_flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.card_face {
  /* border: 1px solid #d9e1ff; */
  border-radius: 8px;
  margin-bottom: 67px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}

.card_face_front {
  background: #18181a;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}
.card_face_front:hover {
  transform: scale(1.05);
}
@media (hover: none) {
  .mobile_active {
    background: #18181a;
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
  }
  .mobile_active:hover {
    transform: scale(1.05);
  }
}

.card_face_back {
  /* border: 1px solid #d9e1ff; */
  background: #18181a;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180de);
  -moz-transform: rotateY(180de);
  -ms-transform: rotateY(180de);
  -o-transform: rotateY(180de);
  position: relative;
}
.card_content_blur {
  width: 90%;
  height: 92%;
  background-color: transparent;
  backdrop-filter: blur(8px); /*12 40*/
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.card_content {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content_description {
  margin: 20px 0;
  color: #d9e1ff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.38px;
  text-align: center;
  user-select: none;
}

.card_figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back_figure_opacity {
  position: absolute;
}

/* media queries */
@media screen and (max-width: 1440px) {
  .card {
    width: 200px;
    height: 487px;
    perspective: 500px;
    margin-bottom: 50px;
  }
  .card_inner {
    width: 100%;
    height: 295px;
  }

  .content_description {
    font-size: 18px;
  }
  .card_name_text {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .card {
    /* margin-right: 35px; */
    width: 200px;
    height: 487px;
    perspective: 500px;
    margin-bottom: 50px;
  }
  .card_inner {
    width: 100%;
    height: 295px;
  }

  .content_description {
    font-size: 18px;
  }
  .card_name_text {
    font-size: 20px;
  }
}

@media screen and (max-width: 540px) {
  .card {
    width: 200px;
    height: 457px;
    perspective: 500px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
  }
  .card_inner {
    width: 100%;
    height: 295px;
  }
  .card_content_blur {
    width: 90%;
    height: 92%;
  }

  .content_description {
    font-size: 18px;
  }
  .card_name {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
  }
  .card_name_text {
    font-size: 20px;
  }
}
