.text {
	font-family: 'Telegraf-regular', sans-serif;
	font-weight: 400;
	font-size: 95px;
	line-height: 120%;
	color: #8da0ef;
	display: inline;
}
.txt_cursor {
	font-size: 95px;
	line-height: 120%;
	color: #8da0ef;
	animation: blinker 1.2s linear infinite;
	-webkit-animation: blinker 1.2s linear infinite;
}

.skill_text_title {
	font-size: 70px;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
@media screen and (max-width: 1680px) {
	.text {
		font-size: 76px;
	}
	.txt_cursor {
		font-size: 76px;
	}
}
@media screen and (max-width: 1440px) {
	.text {
		font-size: 70px;
	}
	.txt_cursor {
		font-size: 70px;
	}
}
@media screen and (max-width: 1200px) {
	.text {
		font-size: 56px;
	}
	.txt_cursor {
		font-size: 56px;
	}
	.skill_text_title {
		font-size: 52px;
	}
}

@media screen and (max-width: 768px) {
	.text {
		font-size: 42px;
	}
	.txt_cursor {
		font-size: 42px;
	}
}
@media screen and (max-width: 540px) {
	.text {
		font-size: 32px;
	}
	.txt_cursor {
		font-size: 42px;
	}
	.skill_text_title {
		font-size: 32px;
	}
}
