.main_container {
	position: relative;
	width: 100%;
	min-height: 2000px;
	overflow: hidden;
	z-index: 1;
}

.text_container {
	position: absolute;
	left: 172px;
	width: 66%;
	height: auto;
	opacity: 0;
	top: 276px;
}

.lottie_container {
	position: absolute;
	z-index: -1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.lottie {
	margin-top: 150px;
}
.text_scroll {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 870px;
	left: 1433px;
	margin-right: 70px;
	z-index: 1;
	font-family: 'telegraf-regular', sans-serif;
	letter-spacing: 1.68px;
	font-size: 28px;
	font-weight: 400;
	color: #8da0ef;
}

@media screen and (max-width: 1440px) {
	.main_container {
		min-height: 2100px;
	}
	.text_container {
		left: 0;
		width: 75%;
		height: 100px;
		margin-left: 135px;
		top: 250px;
	}

	.lottie {
		margin-top: 110px;
	}
	.text_scroll {
		margin-right: 0;
		left: 980px;
		top: 870px;
	}
}
@media screen and (max-width: 1200px) {
	.main_container {
		min-height: 2100px;
	}
	.text_container {
		left: 0;
		width: 80%;
		height: 100px;
		margin-left: 80px;
		top: 350px;
	}

	.lottie {
		margin-top: 110px;
	}
	.text_scroll {
		margin-right: 0;
		left: 580px;
		top: 870px;
	}
}

@media screen and (max-width: 768px) {
	.text_container {
		left: 0;
		width: 72%;
		height: 100px;
		margin-left: 50px;
		top: 340px;
	}

	.lottie {
		margin-top: 120px;
	}
	.text_scroll {
		font-size: 24px;
		top: 850px;
		margin-right: 0;
		left: 370px;
	}
}
@media screen and (max-width: 540px) {
	.main_container {
		min-height: 1650px;
	}
	.text_container {
		left: 0;
		width: 90%;
		height: 100px;
		margin-left: 20px;
		top: 250px;
	}
	.lottie {
		margin-top: 50px;
	}
	.text_scroll {
		font-size: 20px;
		top: 670px;
		left: 0;
		margin-right: 0;
		height: auto;
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-height: 670px) {
	.main_container {
		min-height: 1350px;
	}
	.text_container {
		top: 160px;
	}
	.text_scroll {
		top: 570px;
	}
}
