.main_container {
  width: 100%;
  margin-top: 79px;
  display: flex;
  justify-content: center;
}
.contact_container {
  width: 100%;
  margin: 140px 172px 35px;
}
.contact_subTitle_box {
  margin-bottom: 109px;
}
.contact_email_box {
  display: flex;
}

.contact_box_left {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.contact_figure_circle {
  margin-right: 37px;
  width: 74px;
  height: 74px;
  border: 1px solid #8da0ef;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_figure_circle_inner {
  width: 44px;
  height: 44px;
  border: 1px solid #8da0ef;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.email {
  margin: 0;
  font-size: 32px;
  user-select: none;
  display: block;
  position: relative;
  cursor: default;
}
.iconCopy {
  position: absolute;
  top: -30px;
  right: -25px;
  opacity: 0;
  display: flex;
  cursor: pointer;
  align-items: center;
  transition: 0.8s ease-in-out all;
  -webkit-transition: 0.8s ease-in-out all;
  -moz-transition: 0.8s ease-in-out all;
  -ms-transition: 0.8s ease-in-out all;
  -o-transition: 0.8s ease-in-out all;
}
.email:hover .iconCopy {
  opacity: 1;
  transition: 0.8s ease-in-out all;
  -webkit-transition: 0.8s ease-in-out all;
  -moz-transition: 0.8s ease-in-out all;
  -ms-transition: 0.8s ease-in-out all;
  -o-transition: 0.8s ease-in-out all;
}
.notCopiedLink {
  text-align: center;
  opacity: 0;
  font-size: 16px;
  letter-spacing: 0.8px;
  user-select: none;
  cursor: default;
  background: linear-gradient(
    256deg,
    #e8979f 0%,
    #c293b3 15%,
    #9b8fc9 33%,
    #7c8cda 51%,
    #6589e7 68%,
    #5888ee 85%,
    #5488f1 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition: 0.8s ease-in-out all;
  -webkit-transition: 0.8s ease-in-out all;
  -moz-transition: 0.8s ease-in-out all;
  -ms-transition: 0.8s ease-in-out all;
  -o-transition: 0.8s ease-in-out all;
}
.copiedLink {
  opacity: 1;
  transition: 0.8s ease-in-out all;
  -webkit-transition: 0.8s ease-in-out all;
  -moz-transition: 0.8s ease-in-out all;
  -ms-transition: 0.8s ease-in-out all;
  -o-transition: 0.8s ease-in-out all;
}

.dev_container {
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: flex-end;
  margin-top: 75px;
}
.dev_box {
  display: flex;
  height: 100%;
  align-items: center;
  padding-right: 100px;
  gap: 5px;
}
.dev_text {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: rgba(75, 75, 75, 0.5);
  letter-spacing: 0.8px;
}

/*social box*/
.social_container {
  display: flex;
  height: 45px;
  align-items: center;
}
.social_box {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 110px;
  gap: 25px;
}
.social_link {
  display: flex;
  align-items: center;
  font-size: 32px;
  color: currentColor;
}
@media (hover) {
  .social_link:hover {
    color: #c293b3;
  }
  .dev_link:hover {
    color: hsla(228, 75%, 75%, 0.5);
  }
}

/* responsive */
@media screen and (max-width: 1680px) {
  .dev_box {
    padding-right: 0;
  }
}
@media screen and (max-width: 1440px) {
  .main_container {
    margin: 0;
  }
  .dev_box {
    padding-right: 0;
  }
}
@media screen and (max-width: 1024px) {
  .main_container {
    margin: 20px 0;
  }
  .contact_container {
    margin: 0 120px;
  }

  .contact_subTitle_box {
    /* margin: 0 80px; */
  }
  .contact_email_box {
    flex-direction: column;
  }
  .contact_box_left {
    margin-right: 0;
  }
  .contact_box_right {
    margin-top: 60px;
  }
  .contact_figure_diamond {
    margin-right: 37px;
  }
}
@media screen and (max-width: 540px) {
  .contact_container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contact_subTitle_box {
    margin-left: 20px;
  }

  .email {
    font-size: 20px;
  }

  .contact_email_box {
    margin-left: 20px;
  }

  .contact_figure_diamond {
    margin-right: 37px;
  }

  .contact_figure_circle {
    margin-right: 37px;
    width: 54px;
    height: 54px;
  }
  .contact_figure_circle_inner {
    width: 24px;
    height: 24px;
    border: 1px solid #8da0ef;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .contact_figure_diamond {
    margin-right: 46px;
    width: 44.92px;
    height: 44.92px;
  }
  .contact_figure_diamond_inner {
    width: 9.49px;
    height: 9.49px;
    border: 1px solid #8da0ef;
  }

  .iconCopy {
    opacity: 1;
  }
  .social_container {
    justify-content: center;
    width: 100%;
  }
  .social_box {
    padding-left: 0;
  }
  .dev_container {
    justify-content: center;
    width: 100%;
  }
  .dev_box {
    padding-right: 0;
  }
}
